<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>To do list App</title>
</head>
<body>
    <h1>This is todo page</h1>
    <ul>
        {% for todo_items in all_items %}
        <li>{{ todo_items.content }}
            <form action="/deleteTodo/{{ todo_items.id }}/"method="post" style="display: inline">{% csrf_token %}
                <button type="submit" value="delete">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <form action="/addTodo/"method="post">{% csrf_token %}
        <input  type="text" name="content" placeholder=" Add task">
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>